aenum>=2.1.4
click
dataclasses-json
marshmallow
numpy
oauthlib
pillow>=9.2.0
pyproj==3.1.0
python-dateutil
requests>=2.27.0
requests-oauthlib>=1.0.0
sentinelhub==3.9.1
shapely
tifffile>=2020.9.30
tomli
tomli_w
tqdm
typing-extensions
typing-inspect
utm
